DATABASE_URL="postgresql://gebrauchtwagen:gebrauchtwagen@localhost:5432/gebrauchtwagen?schema=gebrauchtwagen"

# Optionale Variablen fuer `docker compose -f extras\compose\postgres\compose.yml`
APP_PORT="3000"
KEYCLOAK_PORT="8080"
KEYCLOAK_ADMIN="admin"
KEYCLOAK_ADMIN_PASSWORD="admin"
